html {
  box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

button:active, 
button:focus {
    outline: 0;
    border: none;    
}

.game-boy-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game-boy {
    width: 422px;
    height: 525px;
    padding: 0 16px 16px 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EEE;
    border-radius: 10px 10px 60px 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.game-boy:before {
    width: 100%;
    height: 31px;
    content: "";
    position: absolute;
    border-bottom: 4px solid #E0E0E0;
}
.game-boy:after {
    width: 334px;
    height: 31px;
    content: "";
    position: absolute;
    top: 0;
    border-left: 4px solid #E0E0E0;
    border-right: 4px solid #E0E0E0;
}

.game-boy__screen-container {
    width: 342px;
    height: 272px;
    margin-top: 40px;
    background-color: #777;
    border-radius: 13px 13px 50px 13px;
}

.game-boy__screen {
    width: 80%;
    height: 215px;
    position: relative;
    top: 30px;
    margin: auto;
    padding: 4px;
    background: #bdae58;
}

.game-boy__screen-score {
    float: right;
}

.game-boy__logo {
    padding: 8px;
    color: #0000C1;
    font-style: italic;
    font-weight: bold;
    font-family: "futura", sans-serif;
    text-transform: uppercase;
}

.game-boy__dashboard {
    width: 85%;
    padding: 8px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.game-boy__dashboard-game-title {
    font-size: 24px;
}

.game-boy__dashboard-button {
    width: 100px;
    height: 30px;
    background: #A93671;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.game-boy__controls {
    width: 85%;
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dot {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    position: absolute;
    background-color: rgb(0, 0, 0, .80);
    transition: 0.5s ease;
}